# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# Database (không push db lên cloud)
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.env 